<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Transaction History</title>
<link rel="stylesheet" href="css/TransectionHistory.css">
</head>
<body>
<!-- ========== Start NAVBAR Section ========== -->
    <header class="section-navbar">
        <div class="container">
            <div class="navbar-brad">
                <a href="index1">
                    <img src="picscap-images/bank.jpg" alt="DBop">
                </a>
            </div>
            <nav class="navbar">
                <ul>
                    <li class="nav-item"> <a class="nav-link" href="index1">Home</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/">About</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/">Services</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/">FAQs</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/">Contact</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/logout">Logout</a></li>
                </ul>
            </nav>
            <a href="/userdata">
              <div>
                  <ul class="navbar">
                    <center><img src="https://media.istockphoto.com/id/1130884625/vector/user-member-vector-icon-for-ui-user-interface-or-profile-face-avatar-app-in-circle-design.jpg?s=612x612&w=0&k=20&c=1ky-gNHiS2iyLsUPQkxAtPBWH1BZt0PKBB1WBtxQJRE="alt="Profile" style="height: 30px; "></center>
                    <h2 style="font-size: 1.6rem;">{{user.username}}</h2>
                  </ul>
              </div>
            </a>
        </div>
        <div>
        </div>
    </header>
    <!-- ========== End NAVBAR Section ========== -->
    <div class="outer">
        <div class="container1">
            <h2>Transaction History</h2><br>
            <h3>Name : {{user.firstname}} {{user.lastname}}</h3>
            <table>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Description</th>
                        <th>Amount (₹)</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each transactions}}
                    <tr class="even">
                        <td>{{this.date}}</td>
                        <td>{{this.from}}{{this.to}}</td>
                        <td>{{this.amount}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            <br>
            <h3>Balance : {{balance}}</h3>
        </div>
    </div>
</body>
</html>
